.info{
    background-color: $colorInfo;
    div{
        img{
            width: 300px;
            height: 350px;
        }
        p{
            font-size: 17px;
            justify-content: center;
        }
    }

    &--ortodoncia{
        @extend .info;
        border: 10px solid $colorBordes;
    }
    &--sarro{
        @extend .info;
        border: 10px solid $colorBordes;
    }
    &--sensibilidad{
        @extend .info;
        border: 10px solid $colorBordes;
    }
}

.servicios {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}